{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}
{% block content %}

<section class="logo-container">
  <div class="skater-container">
    <img src="{% static 'images/Skate Tricks/eye logo.jpg' %}" alt="The Neversoft Eye" />
  </div>
  <img src="{% static 'images/Skate Tricks/Skate-Tricks logotype.png' %}" alt="Text reads: Skate Tricks" />
</section>
{% if not user.is_authenticated %}
<section>
  <form action="{% url 'home' %}" method="post" class="login">
    <h1>Login</h1>
    {% csrf_token %} {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}" />
    <button type="submit" class="btn submit">Login</button>
  </form>
</section>
{% endif %}

{% endblock %}
